body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #f2f2f2;
    color: black;
    text-align: center;
    padding: 10px;
}

nav {
    background-color: #ee9507;
    overflow: hidden;
    padding: 10px;
}

nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #f2f2f2;
    color: #ee9507;
    border-radius: 10px;
}

.home {
    padding: 20px;
    justify-content: space-around;
    text-align: center;
}

.box-link {
    text-decoration: none;
    color: inherit; /* Inherit text color from parent */
}

.box-link div {
    background-color: #d60c3e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}

.box-link h2 {
    color: #f2f2f2;
}

.box-link:hover div {
    background-color: #ee9507;
}

/*  */

.image-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.card h2 {
    color: #ee9507;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.card p {
    margin: 0;
}

.card a {
    background-color: #d60c3e;
    color: #f2f2f2;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;

}

.card a:hover {
    background-color: #ff5e7e;
}

@media screen and (max-width: 600px) {
    main {
        flex-direction: column;
        align-items: center; 
    }

}